.galleryTitle, .instaTitle {
    color: #2F3061;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin: 50px 0 50px 25px;
}

.mainVideo, .galleryRowOne, .galleryRowTwo, .galleryRowThree, .galleryRowFour {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mainVideo iframe {
    box-shadow: 0px 0px 3px 1px #2F3061;
    height: 45vw;
    width:  97%;
}

.galleryRowOne, .galleryRowTwo, .galleryRowThree, .galleryRowFour {
    margin: 45px 0;
}

.galleryRowOne img, .galleryRowTwo img, .galleryRowThree img, .galleryRowFour img {
    width: 100%;
}

.imagesRow {
    margin-bottom: 100px;
}
