<div class="fourWrapper">
    <h1><span>404</span> {{errorTitle}} not Found.</h1>

    <div class="text">
        <p>Sorry but it doesn't looks like that {{errorText}} doesn't exist.</p>
        <p>Please make sure you typed the link correctly.</p>
    </div>
</div>
