{{!-- Serving / Banner Picture --}}
<div class="servingImg">
    <div class="overlay">
        <img src="https://via.placeholder.com/1440x600" class="d-block w-100" alt="...">
    </div>

    <div class="servingText">
        <h1>Serving the Danbury</h1>
        <h1>Community for four decades</h1>
    </div>
</div>


{{!-- Our Story --}}
<div class="ourStory">
    <h2>Our Story</h2>
        
    <p>The association of Religious Communities (ARC) was founded in 1974 with the purpose of facilitating interfaith cooperation in the Danbury area. Centered in our respective faiths, ARC continues to manifest the wisdom of the world's spiritual traditions while enhancing the quality of life in the greater Danbury community.</p>
</div>


{{!-- Goals --}}
<div class="goals">
    <h2>Our Goals</h2>

    {{!-- Goal One --}}
    <div class="goalDiv">
        <h5>Goal #1</h5>

        <div class="goalBody">
            <img src="https://via.placeholder.com/300x200" alt="...">

            <p>The association of Religious Communities (ARC) was founded over 4 decades ago with the purpose of facilitating interfaith cooperation in the Danbury area. Centered in our respective faiths, ARC continues to manifest the wisdom of the world's spiritual traditions while enhancing the quality of life in the greater Danbury community.</p>
        </div>
    </div>

    {{!-- Goal Two --}}
    <div class="goalDiv">
        <h5>Goal #2</h5>

        <div class="goalBodyReverse">
            <img src="https://via.placeholder.com/300x200" alt="...">

            <p>The association of Religious Communities (ARC) was founded over 4 decades ago with the purpose of facilitating interfaith cooperation in the Danbury area. Centered in our respective faiths, ARC continues to manifest the wisdom of the world's spiritual traditions while enhancing the quality of life in the greater Danbury community.</p>
        </div>
    </div>

    {{!-- Goal Three --}}
    <div class="goalDiv">
        <h5>Goal #3</h5>

        <div class="goalBody">
            <img src="https://via.placeholder.com/300x200" alt="...">

            <p>The association of Religious Communities (ARC) was founded over 4 decades ago with the purpose of facilitating interfaith cooperation in the Danbury area. Centered in our respective faiths, ARC continues to manifest the wisdom of the world's spiritual traditions while enhancing the quality of life in the greater Danbury community.</p>
        </div>
    </div>
</div>


{{!-- Meet the Team --}}
<div class="team">
    <h2>Meet the Team</h2>

    <div class="container">
        <div class="row">
            {{!-- Team Member One --}}
            <div class="col-md-3">
                <img src="https://via.placeholder.com/200x230" alt="...">

                <p class="name">Ari Rosenberg</p>

                <p class="position">Executive Director</p>
            </div>

            {{!-- Team Member Two --}}
            <div class="col-md-3">
                <img src="https://via.placeholder.com/200x230" alt="...">

                <p class="name">Ari Rosenberg</p>

                <p class="position">Executive Director</p>
            </div>

            {{!-- Team Member Three --}}
            <div class="col-md-3">
                <img src="https://via.placeholder.com/200x230" alt="...">

                <p class="name">Ari Rosenberg</p>

                <p class="position">Executive Director</p>
            </div>

            {{!-- Team Member Four --}}
            <div class="col-md-3">
                <img src="https://via.placeholder.com/200x230" alt="...">

                <p class="name">Ari Rosenberg</p>

                <p class="position">Executive Director</p>
            </div>
        </div>
    </div>
</div>


{{!-- Board of Directors --}}
<div class="directors">
    <h2>Board of Directors</h2>

    <div class="container">

        {{!-- Row One --}}
        <div class="row">
            {{!-- Director One --}}
            <div class="col-md-3">
                <img src="https://via.placeholder.com/200x230" alt="...">

                <p class="name">Ari Rosenberg</p>

                <p class="position">Executive Director</p>
            </div>

            {{!-- Director Two --}}
            <div class="col-md-3">
                <img src="https://via.placeholder.com/200x230" alt="...">

                <p class="name">Ari Rosenberg</p>

                <p class="position">Executive Director</p>
            </div>

            {{!-- Director Three --}}
            <div class="col-md-3">
                <img src="https://via.placeholder.com/200x230" alt="...">

                <p class="name">Ari Rosenberg</p>

                <p class="position">Executive Director</p>
            </div>

            {{!-- Director Four --}}
            <div class="col-md-3">
                <img src="https://via.placeholder.com/200x230" alt="...">

                <p class="name">Ari Rosenberg</p>

                <p class="position">Executive Director</p>
            </div>
        </div>

        {{!-- Row Two --}}
        <div class="row">
            {{!-- Director Five --}}
            <div class="col-md-3">
                <img src="https://via.placeholder.com/200x230" alt="...">

                <p class="name">Ari Rosenberg</p>

                <p class="position">Executive Director</p>
            </div>

            {{!-- Director Six --}}
            <div class="col-md-3">
                <img src="https://via.placeholder.com/200x230" alt="...">

                <p class="name">Ari Rosenberg</p>

                <p class="position">Executive Director</p>
            </div>

            {{!-- Director Seven --}}
            <div class="col-md-3">
                <img src="https://via.placeholder.com/200x230" alt="...">

                <p class="name">Ari Rosenberg</p>

                <p class="position">Executive Director</p>
            </div>

            {{!-- Director Eight --}}
            <div class="col-md-3">
                <img src="https://via.placeholder.com/200x230" alt="...">

                <p class="name">Ari Rosenberg</p>

                <p class="position">Executive Director</p>
            </div>
        </div>
    </div>
</div>