<div class="servingImg">
    <div class="overlay">
        <img src="https://via.placeholder.com/1440x600" class="d-block w-100" alt="...">
    </div>

    <div class="servingText">
        <h1>Serving the Danbury</h1>
        <h1>Community for four decades</h1>
    </div>
</div>

<div class="ourStory">
    <h3>Our Story</h3>
        
    <p>The association of Religious Communities (ARC) was founded in 1974 with the purpose of facilitating interfaith cooperation in the Danbury area. Centered in our respective faiths, ARC continues to manifest the wisdom of the world's spiritual traditions while enhancing the quality of life in the greater Danbury community.</p>
</div>
