<div class="servingImg">
    <div class="overlay">
        <img src="https://via.placeholder.com/1440x600" class="d-block w-100" alt="...">
    </div>

    <div class="servingText">
        <h1>Serving the Danbury</h1>
        <h1>Community for four decades</h1>
    </div>
</div>
