{{!-- Banner --}}
<div class="contactBanner">
    <div class="overlay">
        <img src="../img/Some fellowship 1.png" class="d-block w-100" alt="...">
    </div>

    <div class="contactText">
        <h1>Community Makes Us Stronger</h1>
    </div>
</div>



<div class="contactBody container">
    <h3>Contact us directly or fill out the form below and we’ll reach out</h3>

    <div class="container contactContainer">
        <div class="contactForm">
            <form>
                <div class="form-group">
                    <p>First Name <span class="redStar starOne">*</span></p>
                    <input type="text" class="form-control" id="firstNameInput">

                    <p>Last Name <span class="redStar starTwo">*</span></p>
                    <input type="text" class="form-control" id="lastNameInput">

                    <p>Email <span class="redStar starThree">*</span></p>
                    <input type="email" class="form-control" id="emailInput">

                    <p>Message <span class="optional">(optional)</span></p>
                    <textarea name="textarea" id="textInput" cols="30" rows="7"></textarea>
                    
                    <button type="submit" class="btn submitBtn hover">Submit</button>
                </div>
            </form>
        </div>

        <div class="contactInfo">
            <p>Association of Religious Communities</p>

            <p>24 Delay St.</p>

            <p>Danbury, CT 06810</p>

            <p>Phone: 203-792-9459</p>

            <p>Email: execdir@arcofpeace.org</p>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2993.037085216762!2d-73.45347468461361!3d41.39500097926351!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e7ff6fd9bdf9cf%3A0xa5af217af05a9b70!2s24%20Delay%20St%2C%20Danbury%2C%20CT%2006810!5e0!3m2!1sen!2sus!4v1607234498017!5m2!1sen!2sus" width="350" height="350" frameborder="1px solid black" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" id="contactMap"></iframe>
        </div>
    </div>
</div>
