{{!-- Banner --}}
<div class="contactBanner">
    <div class="overlay">
        <img src="https://via.placeholder.com/1440x600" class="d-block w-100" alt="...">
    </div>

    <div class="contactText">
        <h1>Community Makes Us Stronger</h1>
    </div>
</div>
