{{!-- Title --}}
<h1 class="galleryTitle">Media Gallery</h1>

<div class="container">
    <div class="highlight">
        {{!-- Check to see if the highlight is a video --}}
        {{#if (video highlight)}}
            <iframe src={{highlight}} frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {{else}}
            {{!-- img will go here --}}
        {{/if}}
    </div>

    <div class="row galleryRow">
            {{#each mediaFile}}
                {{#if (video this)}}
                    <div class="col-md-4"> 
                        <iframe src={{this}} frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                {{else}}
                    {{!-- img will go here --}}
                {{/if}}
            {{/each}}
    </div>
</div>
