{{!-- Title --}}
<h1 class="galleryTitle">Media Gallery</h1>

<div class="container">
    <div class="mainVideo">
        {{!-- Youtube video --}}
        <iframe src={{main}} frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="row galleryRow">
        {{#each video}}
            <div class="col-md-4">
                <iframe src={{this}} frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        {{/each}}
    </div>
</div>

<div class="imagesDiv">
    <h1 class="instaTitle">Follow Us @Arc4peace</h1>

    <div class="container">
        <div class="row imagesRow">
            <div class="col-md-3">
                <img src="https://via.placeholder.com/250x250" alt="...">
            </div>

            <div class="col-md-3">
                <img src="https://via.placeholder.com/250x250" alt="...">
            </div>

            <div class="col-md-3">
                <img src="https://via.placeholder.com/250x250" alt="...">
            </div>

            <div class="col-md-3">
                <img src="https://via.placeholder.com/250x250" alt="...">
            </div>
        </div>
    </div>
</div>
