<div id="carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="indicator active"></li>
        <li data-target="#carousel" data-slide-to="1" class="indicator"></li>
        <li data-target="#carousel" data-slide-to="2" class="indicator"></li>
    </ol>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://via.placeholder.com/1440x768" class="d-block w-100" alt="...">
            
            <div class="carousel-caption d-none d-md-block">
                <h5>Placeholder label</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://via.placeholder.com/1440x768" class="d-block w-100" alt="...">

            <div class="carousel-caption d-none d-md-block">
                <h5>Placeholder label</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://via.placeholder.com/1440x768" class="d-block w-100" alt="...">

            <div class="carousel-caption d-none d-md-block">
                <h5>Placeholder label</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>
</div>

<div id="mission">
    <div class="container">
        <h3>Mission</h3>
        <p>
            The association of Religious Communities (ARC) was founded over 4 decades ago with the purpose of
            facilitating interfaith cooperation in the Danbury area. Centered in our respective faiths, ARC continues to
            manifest the wisdom of the world's spiritual traditions while enhancing the quality of life in the greater
            Danbury community.
        </p>

        <div id="religions">
            <i class="fas fa-cross fa-3x"></i>
            <i class="fas fa-dharmachakra fa-3x"></i>
            <i class="fas fa-star-of-david fa-3x"></i>
            <i class="fas fa-star-and-crescent fa-3x"></i>
        </div>

        <a class="missionBtn" href="#">Read Our Story</a>
    </div>
</div>

<div id="accomplishments">
    <div class="container">
        <h3>2019 Accomplishments</h3>

        <div class="row accompRow">
            <div class="col-md-3 accompCard">
                <i class="fas fa-utensils fa-5x"></i>

                <h2 class="accompNumber">609</h2>

                <p class="accompText">
                    Potentially homeless housed through Dream Homes Community Center
                </p>
            </div>

            <div class="col-md-3 accompCard">
                <i class="fas fa-home fa-5x"></i>

                <h2 class="accompNumber">609</h2>

                <p class="accompText">
                    Potentially homeless housed through Dream Homes Community Center
                </p>
            </div>

            <div class="col-md-3 accompCard">
                <i class="fas fa-medkit fa-5x"></i>

                <h2 class="accompNumber">609</h2>

                <p class="accompText">
                    Potentially homeless housed through Dream Homes Community Center
                </p>
            </div>
        </div>

        <a class="accompBtn" href="#">More About Our Work</a>
    </div>
</div>

<div id="programs">
    <div class="container">
        <h3>Our Programs</h3>

        <div class="row programsRowOne">
            <div class="col-md-3 program">
                <a href="#">
                    <img src="https://via.placeholder.com/234x268" alt="...">
                    <p>Comida Program</p>
                </a>
            </div>

            <div class="col-md-3 program">
                <a href="#">
                    <img src="https://via.placeholder.com/234x268" alt="...">
                    <p>Dream Homes Community Center</p>
                </a>
            </div>

            <div class="col-md-3 program">
                <a href="#">
                    <img src="https://via.placeholder.com/234x268" alt="...">
                    <p>Emergency Aid Network</p>
                </a>
            </div>
            
            <div class="col-md-3 program">
                <a href="#">
                    <img src="https://via.placeholder.com/234x268" alt="...">
                    <p>Interfaith Peace Camp</p>
                </a>
            </div>
        </div>

        <div class="row programsRowTwo">
            <div class="col-md-3 program">
                <a href="#">
                    <img src="https://via.placeholder.com/234x268" alt="...">
                    <p>Kids In Danbury</p>
                </a>
            </div>

            <div class="col-md-3 program">
                <a href="#">
                    <img src="https://via.placeholder.com/234x268" alt="...">
                    <p>New Options to Violent Actions</p>
                </a>
            </div>

            <div class="col-md-3 program">
                <a href="#">
                    <img src="https://via.placeholder.com/234x268" alt="...">
                    <p>Rapid Response Network</p>
                </a>
            </div>

            <div class="col-md-3 program">
                <a href="#">
                    <img src="https://via.placeholder.com/234x268" alt="...">
                    <p>Refugee & Immigrant Resettlement Program</p>
                </a>
            </div>

            <a class="programsBtn" href="/involved">Get Involved</a>
        </div>
    </div>
</div>
