{{!-- Banner --}}
<div class="involvedBanner">
    <div class="overlay">
        <img src="https://via.placeholder.com/1440x600" class="d-block w-100" alt="...">
    </div>

    <div class="involvedText">
        <h1>Help us Make a Difference</h1>
    </div>
</div>


{{!-- Volunteer Opportunities Section --}}
<div class="volunteer">
    <div class="container">
        {{!-- Title --}}
        <h3>Explore Volunteer Opportunities with our Programs</h3>

        {{!-- First Row --}}
        <div class="row volunteerRowOne">

            {{!-- First Opportunity --}}
            <div class="col-md-3 opportunity">
                <a href="#">
                    <img src="https://via.placeholder.com/234x268" alt="...">

                    <p>Comida Program</p>
                </a>
            </div>

            {{!-- Second Opportunity --}}
            <div class="col-md-3 opportunity">
                <a href="#">
                    <img src="https://via.placeholder.com/234x268" alt="...">

                    <p>Dream Homes Community Center</p>
                </a>
            </div>

            {{!-- Third Opportunity --}}
            <div class="col-md-3 opportunity">
                <a href="#">
                    <img src="https://via.placeholder.com/234x268" alt="...">

                    <p>Emergency Aid Network</p>
                </a>
            </div>
            
            {{!-- Fourth ppportunity --}}
            <div class="col-md-3 opportunity">
                <a href="#">
                    <img src="https://via.placeholder.com/234x268" alt="...">

                    <p>Interfaith Peace Camp</p>
                </a>
            </div>
        </div>

        {{!-- Second Row --}}
        <div class="row volunteerRowTwo">

            {{!-- Fifth Opportunity --}}
            <div class="col-md-3 opportunity">
                <a href="#">
                    <img src="https://via.placeholder.com/234x268" alt="...">

                    <p>Kids In Danbury</p>
                </a>
            </div>

            {{!-- Sixth Opportunity --}}
            <div class="col-md-3 opportunity">
                <a href="#">
                    <img src="https://via.placeholder.com/234x268" alt="...">

                    <p>New Options to Violent Actions</p>
                </a>
            </div>

            {{!-- Seventh Opportunity --}}
            <div class="col-md-3 opportunity">
                <a href="#">
                    <img src="https://via.placeholder.com/234x268" alt="...">

                    <p>Rapid Response Network</p>
                </a>
            </div>

            {{!-- Eighth Opportunity --}}
            <div class="col-md-3 opportunity">
                <a href="#">
                    <img src="https://via.placeholder.com/234x268" alt="...">

                    <p>Refugee & Immigrant Resettlement Program</p>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="signUp">
    <div class="container">
        <h3>Sign up to stay up to date on future events</h3>

        <form>
            <div class="form-group">
                <p>First Name <span class="redStar">*</span></p>
                <input type="text" class="form-control" id="firstNameInput">

                <p>Last Name <span class="redStar">*</span></p>
                <input type="text" class="form-control" id="lastNameInput">

                <p>Email <span class="redStar">*</span></p>
                <input type="email" class="form-control" id="emailInput">

                <p>Message <span class="optional">(optional)</span></p>
                <textarea name="textarea" id="textInput" cols="30" rows="7"></textarea>
                
                <button type="submit" class="btn submitBtn">Submit</button>
            </div>
        </form>
    </div>
</div>
