{{!-- Banner --}}
<div class="involvedBanner">
    <div class="overlay">
        <img src="https://via.placeholder.com/1440x600" class="d-block w-100" alt="...">
    </div>

    <div class="involvedText">
        <h1>Help us Make a Difference</h1>
    </div>
</div>
