<div class="programsBanner">
    <div class="overlay">
        <img src="https://via.placeholder.com/1440x600" class="d-block w-100" alt="...">
    </div>

    <div class="programsText">
        <h1>Kids in Danbury</h1>
    </div>
</div>