{{!-- Banner --}}
<div class="programsBanner">
    <div class="overlay">
        <img src="https://via.placeholder.com/1440x600" class="d-block w-100" alt="...">
    </div>

    <div class="programsText">
        <h1>Kids in Danbury</h1>
    </div>
</div>


{{!-- Programs overview --}}
<div class="overview">
    {{!-- Title --}}
    <h2>Programs Overview</h2>

    {{!-- Main content --}}
    <div class="container">
        <div class="overviewBody">
            <img src="https://via.placeholder.com/400x280" alt="...">

            <p>The KIDS program was started in 2011 as the Morris Street School Project by 16 members of the Unitarian Universalist Congregation of Danbury led by Charlie Schott. In 2013 Charlie Schott and ARC Executive Director, Rev. Phyllis J Leopold, met with the Deputy Superintendent of the Danbury School District, Dr. Bill Glass, proposing the foundation of the KIDS. With the enthusiastic support of Dr. Glass and the ARC board, the program was begun and expanded from Morris Street to four additional elementary schools to date: South Street, Ellsworth Avenue and Park Avenue with a total of twenty Kindergarten classes served by 77 volunteers.</p>
        </div>
    </div>
</div>


{{!-- Purpose --}}
<div class="purpose">
    {{!-- Title --}}
    <h2>Purpose</h2>

    {{!-- Main content --}}
    <div class="container">
        <div class="purposeBody">
            <img src="https://via.placeholder.com/400x280" alt="...">

            <p>Danbury's Title I schools (schools with a high proportion of families below the poverty line) with a strong educational foundation for continued success in their academic and post-education lives. This is accomplished by volunteers in the classrooms mentoring students and assisting the teachers. Volunteers spend much of their time with individual and small groups of students.</p>
        </div>
    </div>
</div>
