/* Flex */
#religions, #accomplishments, .accompRow, #programs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#page .indicator {
    border-radius: 50%;
    height: 7px;
    width: 7px;
}

#carousel {
    margin-bottom: 50px;
}

#mission {
    text-align: center;
    width: 80%;
    margin: 10px auto 50px auto;
}

#mission h3 {
    font-weight: 800;
    margin-bottom: 30px;
}

#mission p {
    font-weight: 400;
    margin-bottom: 25px;
}

#religions {
    margin: 15px auto;
    width: 75%;
}

.missionBtn, .accompBtn, .programsBtn {
    background-color: #9a9afa;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px #9a9afa;
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin: 40px auto 30px auto;
    padding: .5rem 1rem;
    transition: ease-out 0.3s;
    width: 162px;
}

.accompBtn {
    width: 219px;
}

.missionBtn:hover, .accompBtn:hover, .programsBtn:hover {
    color: #fff;
    text-decoration: none;
    transform: scale(1.03);
    transition: ease-in 0.3s;
}

#accomplishments {
    text-align: center;
}

#accomplishments h3 {
    font-size: 28px;
    font-weight: 700;
}

.accompRow {
    margin: 50px 0 0 0;
}

.accompCard {
    background-color: #9a9afa;
    border-radius: 5px;
    color: #2F3061;
    height: 320px;
    padding-top: 40px;
}

.accompNumber {
    color: #fff;
    font-size: 45px;
    font-weight: 700;
    padding: 20px 0 0 0;
}

.accompText {
    color: #000000;
}

#programs {
    text-align: center;
}

#programs h3 {
    font-size: 28px;
    font-weight: 700;
    margin: 50px 0;
}

#programs img {
    opacity: 0.2;
    width: 100%;
}

.programsRowOne, .programsRowTwo {
    margin-bottom: 30px;
}

.programsRowOne p, .programsRowTwo p {
    color: #000000;
    font-weight: 600;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.program {
    transition: ease-out 0.3s;
}

.program:hover {
    transition: ease-in 0.3s;
    transform: scale(1.02);
}

#people {
    margin-bottom: 50px;
}

#people h3 {
    text-align: center;
    font-weight: 700;
    margin: 50px 0;
}

#people img {
    opacity: 0.2;
}

.overlay {
    background-color: rgba(47, 48, 97, 1);
}

#people .carousel-caption {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

/* Media Queries */

/* Mobile */
@media (max-width: 767px) {
    #carousel {
        margin-bottom: 35px;
    }

    .indicator {
        display: none;
    }

    #mission {
        width: 100%;
    }

    #mission h3 {
        font-size: 25px;
    }

    #mission p {
        font-size: 16.5px;
    }

    #religions {
        width: 100%;
    }

    .missionBtn, .accompBtn {
        box-shadow: none;
    }

    .accompCard {
        margin-bottom: 35px;
        width: 90%;
    }

    .accompCard:last-child {
        margin-bottom: 0;
    }

    #programs img {
        margin-bottom: 30px;
    }

    .programsBtn {
        margin-top: 10px;
    }
}