#page .indicator {
    border-radius: 50%;
    height: 7px;
    width: 7px;
}

#carousel {
    margin-bottom: 70px;
}

#mission {
    text-align: center;
    width: 80%;
    margin: 10px auto;
}

#mission h3 {
    font-weight: 800;
}

#mission p {
    font-weight: 400;
}

/* Media Queries */

/* Mobile */
@media (max-width: 767px) {
    .indicator {
        display: none;
    }

    #mission {
        width: 100%;
    }

    #mission h3 {
        font-size: 22px;
    }

    #mission p {
        font-size: 16.5px;
    }
}