.pageTopper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2F3061;
    height: 40px;
}

.address {
    position: absolute;
    top: 1%;
    left: 2%;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.socialMediaLinks {
    position: absolute;
    top: 1%;
    right: 2%;
}

.fab {
    color: #fff;
    margin-right: 10px;
}

.navbar {
    background-color: #fff !important;
    min-height: 100px;
}

.navbar-brand {
    margin-left: 40px;
    height: 100px;
    line-height: 90px;
}

#page .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0,0,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#page .navbar-toggler, #page .navbar-toggler:focus {
    outline: none;
    border-color: transparent;
}

#page .nav-link {
    color: #343434;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-left: 5px;
    transition: ease-out 0.3s;
}

#page .nav-link:hover {
    color: #9a9afa;
    transition: ease-in-out 0.4s;
}

#page .active {
    color: #9a9afa;
}

.donate {
    background-color: #9a9afa;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px #9a9afa;
    font-size: 24px;
    margin: 0 20px;
    transition: ease-out 0.3s;
}

#page .donate a {
    color: #fff;
    margin: 0;
    text-align: center;
    width: 130px;
}

.donate:hover {
    transform: scale(1.03);
    transition: ease-in 0.3s;
}

#page .donate .nav-link:hover {
    color: #fff;
}
