h1 {
    color: rgb(47,48,97,1);
    font-weight: 700;
    margin: 40px auto;
    text-align: center;
}

.pressRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pressCard {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 7px -3px black;
    padding: 0;
    margin: 30px;
}

.cardImage {
    background-repeat: no-repeat;
    background-position-y: 15%;
    background-size: cover;
    min-height: 200px;
    height: 15vw;
    width: 100%;
}

.link {
    color: #9A9AFA;
}

.link:hover {
    color: rgb(47,48,97,1);
    text-decoration: none;
}

.title {
    font-size: 15px;
    font-weight: 600;
}

.date {
    font-size: 12px;
    font-weight: 100;
}

.title, .date, .message, .link {
    margin: 5px;
}
