/* Carousel styling */
#page .indicator {
    border-radius: 50%;
    height: 7px;
    width: 7px;
}

#firstCarousel, #secondCarousel {
    min-height: 40vw;
    max-height: 40vw;
}


/* This styling for the "Read Our Story", "More About Our Work", and "getInvolved" buttons */
.missionBtn, .accompBtn, .programsBtn {
    background-color: #9a9afa;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px #9a9afa;
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin: 40px auto 30px auto;
    padding: .5rem 1rem;
    transition: ease-out 0.3s;
    width: 162px;
}

.accompBtn {
    width: 219px;
}

.missionBtn:hover, .accompBtn:hover, .programsBtn:hover {
    color: #fff;
    text-decoration: none;
    transform: scale(1.03);
    transition: ease-in 0.3s;
}


/* Media Queries */

/* Mobile */
@media (max-width: 767px) {
    /* Styling for the first carousel underneath the navbar. */
    #firstCarousel {
        margin-bottom: 35px;
    }

    #firstCarousel .indicator {
        display: none;
    }

    .missionBtn, .accompBtn {
        box-shadow: none;
    }
}
