/* Entire section */
#mission {
    text-align: center;
    width: 80%;
    margin: 40px auto;
}

/* Title */
#mission h3 {
    color: rgb(47, 48, 97);
    font-weight: 800;
    margin-bottom: 20px;
}

/* Test */
#mission p {
    font-weight: 400;
    margin-bottom: 25px;
}

/* Religion logos */
#religions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 15px auto;
    width: 75%;
}


/* Media Queries */

/* Phone Styling */
@media (max-width: 767px) {
    /* Entire Section */
    #mission {
        margin: 0px auto 30px auto;
        width: 100%;
    }

    /* Title */
    #mission h3 {
        font-size: 25px;
    }

    /* Title */
    #mission p {
        font-size: 16.5px;
    }

    /* Religion logos */
    #religions {
        width: 100%;
    }
}
