#people {
    margin-bottom: 50px;
}

#people h3, #follow h3 {
    color: rgb(47, 48, 97);
    font-weight: 700;
    margin: 10px 0 50px 0;
    text-align: center;
}

#people img {
    opacity: 0.4;
}

.wrap .overlay {
    background-color: rgb(47, 48, 97);
    position: relative;
    z-index: 2;
}

.wrap {
    position: relative;
}

#secondCarousel {
    position: absolute;
    bottom: 0;
    top: 0;
    z-index: 2;
}

.secondCarouselInner {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.peopleCaption {
    color: #fff;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.peopleCaption p {
    font-size: 20px;
}


/* Media Queries */

/* Tablet Styling */
@media (max-width: 991px) {
    .peopleCaption {
        width: 90%;
    }
}

/* Phone Styling */
@media (max-width: 767px) {
    #people img {
        opacity: 0;
    }

    .wrap .overlay {
        background-color: #9a9afa;
        border-radius: 5px;
        height: 100vw;
        margin: 0 auto;
        width: 95%;
    }

    #secondCarousel {
        top: 50%;
        transform: translateY(-50%);
    }

    #secondCarousel .carousel-indicators {
        bottom: -120px;
    }

    .peopleCaption p {
        font-size: 19px;
    }

    .peopleCaption h5 {
        font-size: 17px;
    }
}


/* Smaller Phone Styling */
@media (max-width: 360px) {
    .peopleCaption p, .peopleCaption h5 {
        font-size: 16px;
    }

    #secondCarousel .carousel-indicators {
        bottom: -110px;
    }
}
