#people {
    margin-bottom: 50px;
}

#people h3, #follow h3 {
    color: rgb(47, 48, 97);
    font-weight: 700;
    margin: 50px 0;
    text-align: center;
}

#people img {
    opacity: 0.2;
}

.overlay {
    background-color: rgb(47, 48, 97);
}

#people .carousel-caption {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    width: 80%;
}

/* Styling for the mobile only review in the people section */
.mobileReview {
    color: #fff;
    display: none;
    text-align: center;
}

/* Media Queries */

/* Phone Styling */
@media (max-width: 767px) {
    #people {
        border-radius: 5px;
        margin: 0 auto 10px auto;
        width: 95%;
    }

    #people h3 {
        margin: 20px 0 30px 0;
    }

    #people .carousel-inner {
        background-color: #9a9afa;
        border-radius: 5px;
    }

    /* On mobile the regular carousel with the pictures and captions are replaced by the mobile review div */
    .overlay, .peopleCaption {
        display: none;
    }

    .mobileReview {
        display: block;
        padding: 50px 0;
    }
}
