#programs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

#programs h3 {
    color: rgb(47, 48, 97);
    font-size: 28px;
    font-weight: 700;
    margin: 50px 0;
}

#programs img {
    border-radius: 5px;
    opacity: 0.6;
    width: 100%;
}

.programOverlay {
    background-color: #000000;
    border-radius: 5px;
}

.programsRowOne, .programsRowTwo {
    margin-bottom: 30px;
}

.programsRowOne p, .programsRowTwo p {
    color: #fff;
    font-weight: 600;
    font-size: 22px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

.program {
    transition: ease-out 0.3s;
}

.program:hover {
    transition: ease-in 0.3s;
    transform: scale(1.02);
}


/* Media Queries */

/* Phone Styling */
@media (max-width: 767px) {
    .program {
        margin-bottom: 30px;
    }

    .programsBtn {
        margin-top: 10px;
    }
}
