.overview, .purpose {
    margin-bottom: 80px;
}

.getInvolved {
    margin-bottom: 25px;
}

h2 {
    color: #2F3061;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}

.overviewBody, .purposeBody, .getInvolvedBody {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.purposeBody {
    flex-direction: row-reverse;
}

.overviewBody img, .getInvolvedBody img {
    margin-right: 50px;
}

.purposeBody img {
    margin-left: 50px;
}

.getInvolvedBtn {
    background-color: #9a9afa;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px #9a9afa;
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin: 40px auto 30px auto;
    padding: .5rem 1rem;
    text-align: center;
    transition: ease-out 0.3s;
    width: 162px
}

.getInvolvedBtn:hover {
    color: #fff;
    text-decoration: none;
    transform: scale(1.03);
    transition: ease-in 0.3s;
}
