.overview {
    margin-bottom: 80px;
}

.overview h2 {
    color: #2F3061;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}

.overviewBody {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.overviewBody img {
    margin-right: 50px;
}
